<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3" *ngFor="let cat of cats">
      <div class="card" style="width: 18rem;">
        <div class="card-parent-img">
            <img class="card-img-top" [src]="cat" alt="Card cat cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
  <div class="parent" onclick="">
      <div class="child bg-one">
      </div>
  </div> -->
